.ownerTweetBox {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
}

.ownerTweetData {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

div .ownerTweetDate {
  margin: 0px;
  padding: 0px;

  font-size: var(--font-size-small);
  color: var(--color-gray-500);
}

div .ownerTweetContent {
  margin: 0px;
  padding: 0px;

  font-size: var(--font-size-big);
}

.ownerTweetAuthor {
  margin: 0px;
  padding: 0px;

  font-size: var(--font-size-small);
  color: var(--color-black);
}

.ownerTweetInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--color-gray-300);
  border-width: 1px 0px;

  padding: 12px 0px;
}
