.ownerTweetBox {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 24px;
}

.ownerTweetData {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

div .ownerTweetDate {
  margin: 0px;
  padding: 0px;

  font-size: var(--font-size-small);
  color: var(--color-gray-500);
}

div .ownerTweetContent {
  margin: 0px;
  padding: 0px;

  font-size: var(--font-size-big);
}

.ownerTweetAuthor {
  margin: 0px;
  padding: 0px;

  font-size: var(--font-size-small);
  color: var(--color-black);
}

.ownerTweetCountInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--color-gray-300);
  border-width: 1px 0px;

  padding: 16px 24px;
}

.iconAndFigure {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.noHoverIcon {
  padding: 4px;
}

.icon {
  padding: 4px;
}

.hoverAction:hover > .text {
  color: var(--color-main-orange);
}

.hoverAction:hover > .icon {
  padding: 4px;
  transform: scale(1.2);
  transition: var(--transition);
  border-radius: 100%;
  color: var(--color-main-orange);
  background-color: var(--color-light-orange);
}
