.tweetContainer {
  display: flex;
  flex-direction: row;

  gap: 16px;
  padding: 16px 0px 10px 16px;
}

.tweetTextarea {
  margin: auto;
  height: 80px;
  flex: 1 0 0;

  padding: 12px 16px;

  border-radius: var(--border-radius);
  border: var(--color-gray-200) 1px solid;
}

.tweetButton {
  text-align: center;
  width: 36px;
  height: 36px;
  background-color: var(--color-main-orange);
  color: var(--color-white);

  border-radius: var(--border-radius);
}

.tweetButton:disabled {
  background-color: var(--color-light-orange);
  color: var(--color-gray-400);
}
