.tweetContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}

.tweetTextarea {
  margin: auto;
  height: 80px;
  width: 100%;
}

.error {
  border: 1px solid red;
}

.tweetButton {
  text-align: center;
}

.tweetButton:disabled {
  opacity: 0.5;
  color: var(--color-gray-500);
}
